MOTHERDUCK__DATABASE=vehicle_catalog
MOTHERDUCK__TOKEN=<API_TOKEN>

DATA_GENERATION__RECORD_COUNT=1000
DATA_GENERATION__SEED=42
DATA_GENERATION__REPLACE=false
DATA_GENERATION__MIN_VEHICLE_AGE=1
DATA_GENERATION__MAX_VEHICLE_AGE=12
DATA_GENERATION__MIN_KM_PER_YEAR=8000
DATA_GENERATION__MAX_KM_PER_YEAR=35000
DATA_GENERATION__PAPERS_VERIFIED_PROBABILITY=0.82
